.room{
    width: 250px;
    height: 300px;
}


.book-room-details{
    color:black;
    
}
.book-room{
    padding:20px;
    color:black;
}
.room-details{
    margin:60px;
}
div{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight:bold; color: brown;
    background-size:cover;
}